# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.editor':
    'Insert random string': 'atom-randomstring:insert'

'menu': [
  {
    'label': 'Edit'
    'submenu': [
      'label': 'Text'
      'submenu': [
        { 'label': 'Insert random string', 'command': 'atom-randomstring:insert' }
      ]
    ]
  }
]
